.wrapper {
    display: block;
    width: 1315px;
    height: 100%;
    margin-top: 148px;
    background-color: #303030;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding-bottom: 50px;
    margin-bottom: 62px;
}
