.wrapper {
    display: block;
    position: relative;
    width: 248px;
    height: 204px;
    margin: 40px 68px 59px 0px;
    .addDate {
        margin-top: 3px;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        color: #ababab;
    }

    .countryCity {
        position: absolute;
        top: 32px;
        left: 16px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #888888;
    }
    .title {
        position: absolute;
        top: 75px;
        left: 16px;
        height: 66px;
        width: 216px;
        overflow: hidden;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #303030;
    }
    .viewButton {
        position: absolute;
        bottom: -10px;
        left: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #2b8580;
    }
}
