.buttons {
    border: 1px solid #ffffff;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    padding: 0 10px;
    margin: 8px 8px;
    cursor: pointer;
}
