.wrapper {
    display: block;
    margin-top: 24px;
    margin-left: 36px;
    width: 1054px;
    height: 193px;
    justify-content: flex-start;
}
.buttons {
    border: 1px solid #ffffff;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    padding: 0 10px;
    margin: 8px 8px;
    cursor: pointer;
}
